
.container {
    z-index: 2;
    position: fixed;
    top:0px;
    min-height: 60px;
    max-height: 10vh;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    background-color: #1e3139;
}
.red-child{
    display: flex;
    flex: 1;
    height: 75px;
    width: 100vw;
    color: #eac580;
    background-color:#1e3139;
}
.kasiagamestext{
    display: flex;
    height: 60px;
    width: 800px;
    image-rendering: pixelated;
    background: url(image/kasiaGamesText.png);
    background-size: cover;
}
.container0 {
    z-index: 2;
    position: sticky;
    top:0px;
    min-height: 60px;
    max-height: 10vh;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    background-color: #1e3139;
}
.red-child0{
    display: flex;
    flex: 1;
    height: 75px;
    width: 100vw;
    color: #eac580;
    background-image:linear-gradient(#1e3139,#1e3139)
}
.kasiagamestext0{
    display: flex;
    height: 60px;
    width: 800px;
    image-rendering: pixelated;
    background: url(image/kasiaGamesText.png);
    background-size: cover;
}
.container1 {
    height: 50px;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    background-color: #1e3139;
}
.red-child2{
    display: flex;
    height: 50px;
    width: 20px;
    background-color: #1e3139;
}
.red-child-3{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    vertical-align: top;
    align-content: center;
    height: 50px;
    width: 10vw;
    min-width: 75px;
    color: black;
    font-size-adjust: auto;
    justify-content: center;
    background-color: #b94545;
}
.red-child-3:hover{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    align-content: center;
    height: 50px;
    width: 10vw;
    min-width: 75px;
    color: #59FEFD;
    font-size-adjust: auto;
    transition-duration: 0.6s;
    justify-content: center;
    background-color: #086880;
    transform: scaleX(1.05);
}
.red-child-4{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    vertical-align: top;
    align-content: center;
    height: 50px;
    width: 10vw;
    min-width: 75px;
    color: #59FEFD;
    font-size-adjust: auto;
    justify-content: center;
    background-color: #b94545;
}
.red-child-5{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    vertical-align: top;
    align-content: center;
    height: 50px;
    width: 200px;
    color: #59FEFD;
    font-size-adjust: auto;
    justify-content: center;
    background-color: #b94545;
}
.red-child-5:hover{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    align-content: center;
    height: 50px;
    width: 200px;
    color: #59FEFD;
    font-size-adjust: auto;
    transition-duration: 0.6s;
    justify-content: center;
    background-color: #086880;
    transform: scaleX(1.05);
}
.midnightblue-child{
    top: 50px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    align-content: center;
    width: 10vw;
    min-width: 75px;
    color: #eac580;
    font-size-adjust: auto;
    justify-content: center;
    background-color: #b94545;
}
.midnightblue-child-2{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    align-content: center;
    height: 50px;
    width: 50vw;
    min-width: 75px;
    color: #eac580;
    font-size-adjust: auto;
    justify-content: center;
    background-color: #b94545;
}
.steelblue-child{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    align-content: center;
    height: 50px;
    width: 10vw;
    min-width: 75px;
    font-size-adjust: auto;
    justify-content: center;
    background-color: #b94545;
}
.steelblue-child:hover{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    align-content: center;
    height: 50px;
    width: 10vw;
    min-width: 75px;
    font-size-adjust: auto;
    justify-content: center;
    transition-duration: 0.6s;
    background-color: #086880;
    transform: scaleX(1.05);
}
.steelblue-child-2{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    align-content: center;
    height: 50px;
    width: 50vw;
    min-width: 75px;
    font-size-adjust: auto;
    justify-content: center;
    background-color: #b94545;
}
.steelblue-child-2:hover{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    align-content: center;
    height: 50px;
    width: 50vw;
    min-width: 75px;
    font-size-adjust: auto;
    justify-content: center;
    transition-duration: 0.6s;
    background-color: #086880;
    transform: scaleX(1.05);
}
.container2 {
    height: auto;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    background-color: #1e3139;
}
.midnightblue-child2{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    height: auto;
    width: 90vw;
    color: #eac580;
    background-color: #8a2223;     
}
.midnightblue-child3{
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    height: 25px;
    width: 90vw;
    background-color: #8a2223; 
}
.midnightblue-child4{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    height: auto;
    width: 90vw;
    color: #eac580;
    background-color: #8a2223;     
}
.midnightblue-child5{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    height: auto;
    width: 90vw;
    color: #eac580;
    background-color: #8a2223;     
}
.white-child{
    display: flex;
    height: 35vw;
    width: 35vw;
    max-height: 200px;
    max-width: 200px;
    background-color: ghostwhite;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.white-child2{
    display: flex;
    width: 40vw;
    height: 20vw;
    max-height: 280px;
    max-width: 560px;
    background-color: ghostwhite;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
#a0 {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    image-rendering: pixelated;
    background: url(textures/crystal%20coin%20texture.png);
    background-size: contain;
    width: 35vw;
    height: 35vw;
    max-height: 200px;
    max-width: 200px;
}
#a1 {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    image-rendering: pixelated;
    background: url(textures/Crystal-Coin-5.png);
    background-size: contain;
    width: 35vw;
    height: 35vw;
    max-height: 200px;
    max-width: 200px;
}
#a2 {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    image-rendering: pixelated;
    background-image: url(textures/Crystal-Coin-10.png);
    background-size: contain;
    width: 35vw;
    height: 35vw;
    max-height: 200px;
    max-width: 200px;
}
#a3 {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    image-rendering: pixelated;
    background-image: url(textures/Crystal-Coin-15.png);
    background-size: contain;
    width: 35vw;
    height: 35vw;
    max-height: 200px;
    max-width: 200px;
}
#a4 {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    image-rendering: pixelated;
    background-image: url(textures/Crystal-coin-30.png);
    background-size: contain;
    width: 35vw;
    height: 35vw;
    max-height: 200px;
    max-width: 200px;
}
#a5 {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    image-rendering: pixelated;
    background-image: url(textures/blue%20slime%20enemy.png);
    background-size: contain;
    width: 35vw;
    height: 35vw;
    max-height: 200px;
    max-width: 200px;
}
#a6 {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    image-rendering: pixelated;
    background-image: url(textures/Scorpion%20V1.png);
    background-size: contain;
    width: 35vw;
    height: 35vw;
    max-height: 200px;
    max-width: 200px;
}
#a7 {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    image-rendering: pixelated;
    background: url(textures/robot%20pet%20texture.png);
    background-size: contain;
    width: 35vw;
    height: 35vw;
    max-height: 200px;
    max-width: 200px;
}
#a8 {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    image-rendering: pixelated;
    background-image: url(textures/kaas%20pet%20texture.png);
    background-size: contain;
    width: 35vw;
    height: 35vw;
    max-height: 200px;
    max-width: 200px;
}
#a9 {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    image-rendering: pixelated;
    background-image: url(textures/dog%20with%20hat%20texture.png);
    background-size: contain;
    width: 35vw;
    height: 35vw;
    max-height: 200px;
    max-width: 200px;
}
#a10 {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    image-rendering: pixelated;
    background-image: url(image/levelGenGrid.png);
    background-size: contain;
    width: 35vw;
    height: 35vw;
    max-height: 200px;
    max-width: 200px;
}
#a11 {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    image-rendering: pixelated;
    background-image: url(image/pathfindGrid.png);
    background-size: contain;
    width: 40vw;
    height: 20vw;
    max-height: 280px;
    max-width: 560px;
}
#a12 {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    image-rendering: pixelated;
    background-image: url(image/pathfindGrid1.png);
    background-size: contain;
    width: 40vw;
    height: 20vw;
    max-height: 280px;
    max-width: 560px;
}
#a13 {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    image-rendering: pixelated;
    background-image: url(image/pathfindGrid2.png);
    background-size: contain;
    width: 40vw;
    height: 20vw;
    max-height: 280px;
    max-width: 560px;
}
#a14 {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    image-rendering: pixelated;
    background-image: url(image/pathfindGrid3.png);
    background-size: contain;
    width: 40vw;
    height: 20vw;
    max-height: 280px;
    max-width: 560px;
}
#a15 {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    image-rendering: pixelated;
    background: url(image/pathfindGrid4.png);
    background-size: contain;
    width: 40vw;
    height: 20vw;
    max-height: 280px;
    max-width: 560px;
}
#a16 {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    image-rendering: pixelated;
    background-image: url(image/pathfindGrid5.png);
    background-size: contain;
    width: 40vw;
    height: 20vw;
    max-height: 280px;
    max-width: 560px;
}
#a17 {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    image-rendering: pixelated;
    background-image: url(image/pathfindGrid6.png);
    background-size: contain;
    width: 40vw;
    height: 20vw;
    max-height: 280px;
    max-width: 560px;
}
#a18 {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    image-rendering: pixelated;
    background-image: url(image/pathfindGrid7.png);
    background-size: contain;
    width: 40vw;
    height: 20vw;
    max-height: 280px;
    max-width: 560px;
}
#a19 {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    image-rendering: pixelated;
    background-image: url(image/pathfindGrid8.png);
    background-size: contain;
    width: 40vw;
    height: 20vw;
    max-height: 280px;
    max-width: 560px;
}
#a20 {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    image-rendering: pixelated;
    background-image: url(image/pathfindGrid9.png);
    background-size: contain;
    width: 40vw;
    height: 20vw;
    max-height: 280px;
    max-width: 560px;
}
#a21 {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    image-rendering: pixelated;
    background-image: url("textures/cactus-active%20walking%20frame%202.png");
    background-size: contain;
    width: 35vw;
    height: 35vw;
    max-height: 200px;
    max-width: 200px;
}
#a22 {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    image-rendering: pixelated;
    background-image: url("textures/robot%20cactus%20walking%20frame%202.png");
    background-size: contain;
    width: 35vw;
    height: 35vw;
    max-height: 200px;
    max-width: 200px;
}
#a23 {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    image-rendering: pixelated;
    background-image: url("textures/small%20explosive%20cactus%20walking%20frame%202.png");
    background-size: contain;
    width: 35vw;
    height: 35vw;
    max-height: 200px;
    max-width: 200px;
}
.white-child-2{
    display: flex;
    flex-direction: row;
    height: 150px;
    width: 150px;
    background-color: ghostwhite;
}